.card {
  width: 300px;
  background-color: $secondary-color;
  display: flex;
  min-height: 218px;
  flex-direction: column;
  transition: all 0.2s ease;


  .card-header {
    padding: 10px;
    height: auto;
    margin: 0;
    background-color: $primary-color;
    color: $secondary-color;

    h3 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h4 {
      margin: 0;
      font-weight: 300;
      font-size: 0.9em;
    }
  }

  .card-body {
    color: $text-color-dark;
    padding: 10px;
    flex-grow: 10;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .card-footer {
    color: $text-color-dark;
    padding: 10px;
    height: auto;
    margin: 0;
    border-top: 2px dashed $primary-color;

    p {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.card:hover {
  background-color: lighten($primary-color, 30);
}

@media (max-width: $max-width-mobile) {
  .card {
    width: 40vw;
  }
}

@media (max-width: $max-width-mobile-sm) {
  .card {
    width: 80vw;
  }
}
