* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(50vh - 75px) minmax(calc(50vh - 75px), 1fr) 50px;
  grid-gap: 50px;
}
header, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  justify-content: flex-end;
}
