* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0px, calc(50vh - 75px)) minmax(calc(50vh - 75px), 1fr) 50px;
  grid-gap: 50px;
}
header, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  justify-content: flex-end;
}

@media (max-width: $max-width-mobile-xs) {
  body {
    grid-template-rows: minmax(230px, calc(50vh - 94px)) minmax(calc(50vh - 94px), 1fr) 88px;
  }
}
