#search {
  display: flex;
  padding: 10px;
  background-color: $bg-dark-transparent;
  flex-wrap: wrap;

  input {
    height: 40px;
    border: none;
    padding: 0 5px;
    font-family: $font;
    font-size: 15px;
    color: $text-color-dark;
    margin: 0 10px 0 0;
    width: 30vw;
    min-width: 360px;
    transition: all 0.5s ease;
  }

  button {
    border: none;
    background-color: $primary-color;
    font-family: $font;
    font-weight: 700;
    color: $secondary-color;
    width: 150px;
    transition: all 0.2s ease;
    height: 40px;
  }

  button:hover {
    background-color: darken($primary-color, 5);
  }

  @media (max-width: $max-width-mobile-md) {
    input {
      width: calc(80vw - 165px);
      min-width: 0;
    }
  }

  @media (max-width: $max-width-mobile-sm) {
    input {
      width: calc(80vw - 15px);
      min-width: 0;
      margin: 0 0 10px 0;
      height: 30px;
    }
    button {
      width: calc(80vw - 15px);
      height: 30px;
    }
  }
}

@media (max-width: $max-width-mobile-sm) {
  #search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
}
