.title {
  color: $secondary-color;
  font-family: $font;
  font-size: 3.5em;
  margin: 0;
  font-weight: 700;
}
.subtitle {
  color: $primary-color;
  font-family: $font;
  margin: 0;
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-align: center;
}
