.title {
  color: $secondary-color;
  font-family: $font;
  font-size: 3.5em;
  margin: 0;
  font-weight: 700;
}
.subtitle {
  color: $primary-color;
  font-family: $font;
  margin: 0;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  margin: 0 20px 30px 20px;
}

@media (max-width: $max-width-mobile-xs) {
  .title {
    font-size: 10vw;
  }
  .subtitle {
    font-size: 5vw;
  }
}
